/*** The new CSS reset - version 1.5.1 (last updated 1.3.2022) ***/
*:where(:not(iframe,canvas,img,svg,video):not(svg *,symbol *)){all:unset;display:revert}*,*::before,*::after{box-sizing:border-box}a,button{cursor:revert}ol,ul,menu{list-style:none}img{max-width:100%}table{border-collapse:collapse}textarea{white-space:revert}meter{-webkit-appearance:revert;appearance:revert}::placeholder{color:unset}:where([hidden]){display:none}:where([contenteditable]){-moz-user-modify:read-write;-webkit-user-modify:read-write;overflow-wrap:break-word;-webkit-line-break:after-white-space}:where([draggable="true"]){-webkit-user-drag:element}

/* General style */
body {
    margin: 0px auto;
    font-family: sans-serif;
    width: 960px;
}
h1 {
    font-size: 96px;
    font-weight: 900;
}
li {
    display: inline;
    text-decoration: none;
}

/* each style */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}
.headerTitle p {
    color: gray;
}
.headerMenu li {
    color: gray;
    font-size: 24px;
    margin-left: 32px;
}
.content {
    margin-top: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
textarea {
    width: 470px;
    height: 520px;
    border-radius: 40px;
    background-color: #f7f7f7;
    border: 3px solid #ccc;
    padding: 24px;
}
/*textarea:hover {
    border: 3px solid #ccc;
}*/
textarea:focus {
    border: 3px solid lightblue;
}
::placeholder {
    color: #919191;
}
.outputText {
    width: 470px;
    height: 520px;
    border: 3px solid #fff;
    border-radius: 40px;
    background-color: #f7f7f7;
    padding: 24px;
}
.btnParent {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}
.btn {
    width: 240px;
    height: 64px;
    border-radius: 16px;
    font-size: medium;
    background-color: black;
    color: white;
    text-align: center;
}
.btn:hover {
    background-color: rgb(90, 90, 90);
    
    /* rgb(56, 56, 56); */
} 
.btn:active {
  background-color: rgb(150, 150, 150);
  color: black
}